/* Navigation Bar */

header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--header-color);
  box-shadow: var(--box-shadow-color) 0px 5px 15px;
  z-index: 1;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  gap: 1rem;
}

.nav-logo {
  color: var(--primary-color);
}

.nav-link {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  color: var(--primary-color);
}
.active {
  color: var(--secondary-color);
}

.nav-link::after {
  width: 0;
}

.nav-link::after,
.active::after {
  transition: 0.2s;
  height: 2px;
  content: "";
  background-color: var(--secondary-color);
}

.nav-link:hover .nav-name {
  color: var(--secondary-color);
}

.nav-link:hover::after,
.active::after {
  width: 100%;
}
