@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}

@keyframes blinking {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translate3D(-50px, 0, 0);
    }
    100% {
       opacity: 1;
       transform: translate3D(0, 0, 0);
    }
}

@keyframes horizontal-scale {
    0% {
        transform: scale(0, 0.025);
    }

    50% {
        transform: scale(1, 0.025);
    }
}

.nav_link {
    color: var(--text-color);
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
    transition: .3s;
    opacity: 1;
    animation: fadeInLeft 1s 1.2s;
}

.nav_link i {
    font-size: 1.25rem;
}

.nav_link:hover {
    color: var(--first-color);
}

.active_link {
    color: var(--first-color);
}

.nav_link_off {
    opacity: 0;
}

.nav_nome_off {
    display: none;
}

.navegação {
    background-color: var(--container-color);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow-color) 1px 0px 4px;
    left: 0px;
    right: 0px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    animation: horizontal-scale 1s;
    transition: .4s;
    border: 3px solid greenyellow;
    z-index: 1;
    transition: .4s;
}

.nav_bottom {
    max-width: 440px;
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color);
    backdrop-filter: blur(10px);
    box-shadow: rgba(24, 64, 226, 0.15) 1px 0px 4px;
    align-items: center;
    justify-content: center;
    left: 0px;
    right: 0px;
    display: flex;
    margin: 0px auto;
    transition: .4s;
    z-index: 1;
    border: 3px solid greenyellow;
}

@media screen and (min-width: 767px) {
    .navegação {
      position: relative;
      top: 2rem;
      column-gap: 20px;
      justify-content: space-between;
      width: 90%;
      height: 84px;
      padding: 30px 40px;
      border-radius: 1rem;
    }

    .nav_bottom {
        column-gap: 20px;
        width: 50%;
        height: 84px;
        padding: 30px 40px;
        border-radius: 1rem;
    }    
}

@media screen and (max-width: 766px) {
    .navegação {
      position: fixed;
      bottom: 2rem;
      column-gap: 36px;
      width: 50%;
      justify-content: center;
      align-items: center;
      padding: 30px 40px;
      border-radius: 2.25rem;
    }

    .nav_nome, .logo_nome {
        display: none;
    }
}   

@media screen and (min-width: 361px) and (max-width: 580px) {
    .navegação {
        position: fixed;
        bottom: 2rem;
        column-gap: 20px;
        width: 80%;
        justify-content: center;
        align-items: center;
        padding: 30px 40px;
        border-radius: 2.25rem;
    }
    .nav_nome, .logo_nome {
        display: none;
    }
}

@media screen and (min-width: 280px) and (max-width: 360px) {
    .navegação {
        position: fixed;
        bottom: 1.2rem;
        column-gap: 20px;
        width: 80%;
        max-width: 40vh;
        height: 60px;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;
        border-radius: 2.25rem;
    }
    .nav_nome, .logo_nome {
        display: none;
    }
}
