@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}

@keyframes blinking {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translate3D(-50px, 0, 0);
    }
    100% {
       opacity: 1;
       transform: translate3D(0, 0, 0);
    }
}

@keyframes horizontal-scale {
    0% {
        transform: scale(0, 0.025);
    }

    50% {
        transform: scale(1, 0.025);
    }
}

#profile {
    position: relative;
    top: 45vh;
    margin: 40px auto;
}

.profile {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: .4s;
}

.profile_container {
    max-width: 815px;
    width: 100%;
    border-radius: 40px;
    background-color: var(--container-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 10px;
    transition: .4s;
    border: 3px solid #f1f1f1;
}

.profile_container img {
    max-width: 250px;
    max-height: 250px;
    width: 30vw;
    height: 30vw;
    display: flex;
    object-fit: cover;
    object-position: top;
    transition: .4s;
    border: 3px solid #f1f1f1;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.contacts a {
    display: grid;
    width: 15vw;
    height: 10vw;
    max-width:  100px;
    max-height: 70px;
    background-color: #606066;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: .4s;
    color: greenyellow;
    border: 3px solid #f1f1f1;
}

.contacts a:hover {
    background-color: #404044;
    scale: 125%;
    transition: .2s;
}

.contacts a:active {
    background-color: #040406;
    scale: 115%;
    transition: .2s;
}

@media screen and (min-width: 280px) and (max-width: 360px) {
    .profile_container img {
        border-radius: 10px;
        margin: 10px 5px;
    }
    .contacts {
        margin: 5px;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
    .contacts a {
        font-size: 0.9rem;
        margin: 2px;
    }
}

@media screen and (min-width: 361px) and (max-width: 580px) {
    .profile_container img {
        border-radius: 25px;
        margin: 30px 5px;
    }
    .contacts {
        margin: 5px;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .contacts a {
        font-size: 1.5rem;
        margin: 5px;
    }
}

@media screen and (min-width: 581px) {
    .profile_container img {
        border-radius: 40px;
        margin: 30px 10px;
    }
    .contacts {
        margin: 20px;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }
    .contacts a {
        font-size: 2.25rem;
        margin: 5px;
    }
}